In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.get_option("display.max_columns")
pd.set_option("display.max_rows", None)

In [2]:
df=pd.read_csv("data.csv")
df.head(2)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1

# Plan :
- Parse salary from "Salary Estimate" column to get average salary
- Clean Company Name 
- Parse out state from location
- Get age of company(how long the company has been around from the "Founded" column
- Amount of competitors
- Parse Job Description(coding languages required for job)
- Parse out Job Title into a few groups to make analysis easier

In [3]:
# Check for null values
df.isnull().sum()

Unnamed: 0           0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

In [4]:
# We see that we have no null values. 
# Next let's check for any values which represents null values
# In the salary column we have some values that = -1, let's get rid of those
df=df[df["Salary Estimate"]!="-1"]

df["Salary Estimate"].value_counts()

$49K-$113K (Glassdoor est.)                  6
$86K-$143K (Glassdoor est.)                  6
$54K-$115K (Glassdoor est.)                  6
$21-$34 Per Hour(Glassdoor est.)             6
$74K-$124K (Glassdoor est.)                  5
$76K-$142K (Glassdoor est.)                  5
$107K-$173K (Glassdoor est.)                 5
$81K-$167K (Glassdoor est.)                  5
$68K-$139K (Glassdoor est.)                  4
$63K-$105K (Glassdoor est.)                  4
$82K-$132K (Glassdoor est.)                  4
$61K-$109K (Glassdoor est.)                  4
$110K-$175K (Glassdoor est.)                 4
$40K-$68K (Glassdoor est.)                   4
$56K-$95K (Glassdoor est.)                   4
$49K-$97K (Glassdoor est.)                   4
$108K-$171K (Glassdoor est.)                 4
$44K-$78K (Glassdoor est.)                   4
$69K-$127K (Glassdoor est.)                  4
$42K-$86K (Glassdoor est.)                   4
$56K-$97K (Glassdoor est.)                   4
$39K-$66K (Glassdoor est.)                   4
$64K-$106K (Glassdoor est.)                  4
$18-$25 Per Hour(Glassdoor est.)             4
$35K-$62K (Glassdoor est.)                   4
$44K-$86K (Glassdoor est.)                   4
$62K-$119K (Glassdoor est.)                  3
$109K-$200K (Glassdoor est.)                 3
$74K-$149K (Glassdoor est.)                  3
$55K-$100K (Glassdoor est.)                  3
$50K-$89K (Glassdoor est.)                   3
$111K-$176K (Glassdoor est.)                 3
$61K-$113K (Glassdoor est.)                  3
$190K-$220K(Employer est.)                   3
$49K-$85K (Glassdoor est.)                   3
$138K-$224K (Glassdoor est.)                 3
$65K-$124K (Glassdoor est.)                  3
$54K-$71K (Glassdoor est.)                   3
$75K-$140K (Glassdoor est.)                  3
$90K-$179K (Glassdoor est.)                  3
$52K-$81K (Glassdoor est.)                   3
$60K-$127K (Glassdoor est.)                  3
$24-$39 Per Hour(Glassdoor est.)             3
$108K-$173K (Glassdoor est.)                 3
$97K-$160K (Glassdoor est.)                  3
$113K-$196K (Glassdoor est.)                 3
$102K-$172K (Glassdoor est.)                 3
$50K-$110K (Glassdoor est.)                  3
$81K-$140K (Glassdoor est.)                  3
$59K-$116K (Glassdoor est.)                  3
$60K-$101K (Glassdoor est.)                  3
$65K-$110K (Glassdoor est.)                  3
$42K-$76K (Glassdoor est.)                   3
$52K-$93K (Glassdoor est.)                   3
$63K-$110K (Glassdoor est.)                  3
Employer Provided Salary:$100K-$140K         3
$61K-$119K (Glassdoor est.)                  3
$56K-$91K (Glassdoor est.)                   3
$44K-$96K (Glassdoor est.)                   3
$45K-$78K (Glassdoor est.)                   3
$202K-$306K (Glassdoor est.)                 3
$65K-$134K (Glassdoor est.)                  3
$87K-$158K (Glassdoor est.)                  3
$56K-$99K (Glassdoor est.)                   3
$32K-$59K (Glassdoor est.)                   3
Employer Provided Salary:$25-$28 Per Hour    3
$80K-$155K (Glassdoor est.)                  3
$43K-$98K (Glassdoor est.)                   3
$89K-$144K (Glassdoor est.)                  2
$64K-$108K (Glassdoor est.)                  2
$55K-$105K (Glassdoor est.)                  2
$47K-$85K (Glassdoor est.)                   2
$71K-$129K (Glassdoor est.)                  2
$65K-$96K (Glassdoor est.)                   2
$135K-$211K (Glassdoor est.)                 2
$62K-$112K (Glassdoor est.)                  2
$53K-$91K (Glassdoor est.)                   2
$48K-$93K (Glassdoor est.)                   2
$117K-$206K (Glassdoor est.)                 2
$31K-$55K (Glassdoor est.)                   2
$31K-$72K (Glassdoor est.)                   2
$105K-$198K (Glassdoor est.)                 2
$98K-$182K (Glassdoor est.)                  2
$73K-$124K (Glassdoor est.)                  2
Employer Provided Salary:$200K-$250K         2
$111K-$183K (Glassdoor est.)                 2
$100K-$166K (Glassdoor est.)                 2
$81K-$159K (Glassdoor est.)                  2
$83K-$166K (Glassdoor est.)                  2
$114K-$182K (Glassdoor est.)                 2
$114K-$179K (Glassdoor est.)                 2
$100K-$173K (Glassdoor est.)                 2
$60K-$123K (Glassdoor est.)                  2
$53K-$96K (Glassdoor est.)                   2
$127K-$202K (Glassdoor est.)                 2
$97K-$181K (Glassdoor est.)                  2
$124K-$199K (Glassdoor est.)                 2
$50K-$92K (Glassdoor est.)                   2
$67K-$135K (Glassdoor est.)                  2
$42K-$80K (Glassdoor est.)                   2
$34K-$92K (Glassdoor est.)                   2
$43K-$86K (Glassdoor est.)                   2
$101K-$158K (Glassdoor est.)                 2
$125K-$210K (Glassdoor est.)                 2
$43K-$77K (Glassdoor est.)                   2
$139K-$221K (Glassdoor est.)                 2
$78K-$147K (Glassdoor est.)                  2
$37K-$66K (Glassdoor est.)                   2
$38K-$64K (Glassdoor est.)                   2
$43K-$82K (Glassdoor est.)                   2
$90K-$110K(Employer est.)                    2
$93K-$151K (Glassdoor est.)                  2
$40K-$101K (Glassdoor est.)                  2
$97K-$180K (Glassdoor est.)                  2
$81K-$134K (Glassdoor est.)                  2
$84K-$157K (Glassdoor est.)                  2
$121K-$203K (Glassdoor est.)                 2
$52K-$85K (Glassdoor est.)                   2
$36K-$62K (Glassdoor est.)                   2
$80K-$148K (Glassdoor est.)                  2
$95K-$154K (Glassdoor est.)                  2
$92K-$146K (Glassdoor est.)                  2
$43K-$88K (Glassdoor est.)                   2
$49K-$76K (Glassdoor est.)                   2
$47K-$101K (Glassdoor est.)                  2
$82K-$129K(Employer est.)                    2
$52K-$91K (Glassdoor est.)                   2
$150K-$239K (Glassdoor est.)                 2
$10-$17 Per Hour(Glassdoor est.)             2
$21-$29 Per Hour(Glassdoor est.)             2
$92K-$150K (Glassdoor est.)                  2
$66K-$123K (Glassdoor est.)                  2
$45K-$86K (Glassdoor est.)                   2
$48K-$85K (Glassdoor est.)                   2
Employer Provided Salary:$110K-$130K         2
$102K-$178K (Glassdoor est.)                 2
$65K-$119K (Glassdoor est.)                  2
$63K-$101K (Glassdoor est.)                  2
$42K-$82K (Glassdoor est.)                   2
$31K-$57K (Glassdoor est.)                   2
$75K-$143K (Glassdoor est.)                  2
$105K-$194K (Glassdoor est.)                 2
$116K-$185K (Glassdoor est.)                 2
$48K-$95K (Glassdoor est.)                   2
$91K-$149K (Glassdoor est.)                  2
$58K-$111K (Glassdoor est.)                  2
$158K-$211K (Glassdoor est.)                 2
$63K-$99K (Glassdoor est.)                   2
$68K-$114K (Glassdoor est.)                  2
$86K-$144K (Glassdoor est.)                  2
$80K-$139K (Glassdoor est.)                  2
$120K-$189K (Glassdoor est.)                 2
$84K-$146K (Glassdoor est.)                  2
$107K-$172K (Glassdoor est.)                 2
$60K-$99K (Glassdoor est.)                   2
$41K-$72K (Glassdoor est.)                   2
$96K-$161K (Glassdoor est.)                  2
$85K-$139K (Glassdoor est.)                  2
$60K-$114K (Glassdoor est.)                  2
$61K-$110K (Glassdoor est.)                  2
$17-$24 Per Hour(Glassdoor est.)             2
$95K-$160K (Glassdoor est.)                  2
$61K-$126K (Glassdoor est.)                  2
Employer Provided Salary:$150K-$160K         2
$110K-$150K(Employer est.)                   2
$68K-$129K (Glassdoor est.)                  2
$118K-$189K (Glassdoor est.)                 2
$80K-$90K (Glassdoor est.)                   2
$71K-$119K (Glassdoor est.)                  2
$54K-$93K (Glassdoor est.)                   2
$86K-$142K (Glassdoor est.)                  2
$120K-$160K (Glassdoor est.)                 2
$106K-$172K (Glassdoor est.)                 2
$83K-$144K (Glassdoor est.)                  2
$64K-$111K (Glassdoor est.)                  2
$83K-$137K (Glassdoor est.)                  2
$73K-$119K (Glassdoor est.)                  2
$86K-$139K (Glassdoor est.)                  2
$109K-$177K (Glassdoor est.)                 2
$75K-$124K (Glassdoor est.)                  2
$72K-$120K (Glassdoor est.)                  2
$93K-$149K (Glassdoor est.)                  2
$85K-$140K (Glassdoor est.)                  2
$72K-$133K (Glassdoor est.)                  2
$83K-$148K (Glassdoor est.)                  2
$86K-$137K (Glassdoor est.)                  2
$63K-$127K (Glassdoor est.)                  2
$69K-$121K (Glassdoor est.)                  2
$82K-$133K (Glassdoor est.)                  2
$37K-$100K (Glassdoor est.)                  2
$150K-$238K (Glassdoor est.)                 2
$99K-$178K (Glassdoor est.)                  2
$77K-$132K (Glassdoor est.)                  2
$59K-$112K (Glassdoor est.)                  2
Employer Provided Salary:$120K-$145K         2
$35K-$65K (Glassdoor est.)                   2
$79K-$147K (Glassdoor est.)                  2
$119K-$187K (Glassdoor est.)                 2
$90K-$157K (Glassdoor est.)                  2
$32K-$62K (Glassdoor est.)                   2
$36K-$71K (Glassdoor est.)                   2
$60K-$102K (Glassdoor est.)                  2
$116K-$208K (Glassdoor est.)                 2
$91K-$159K (Glassdoor est.)                  2
$80K-$133K (Glassdoor est.)                  2
$39K-$69K (Glassdoor est.)                   2
$71K-$124K (Glassdoor est.)                  2
$27K-$48K (Glassdoor est.)                   2
$110K-$174K (Glassdoor est.)                 2
$52K-$101K (Glassdoor est.)                  2
$57K-$80K (Glassdoor est.)                   2
$59K-$110K (Glassdoor est.)                  2
$43K-$80K (Glassdoor est.)                   2
$85K-$134K (Glassdoor est.)                  2
$100K-$190K (Glassdoor est.)                 2
$74K-$140K (Glassdoor est.)                  2
$81K-$133K (Glassdoor est.)                  2
$124K-$204K (Glassdoor est.)                 2
$132K-$211K (Glassdoor est.)                 2
$131K-$207K (Glassdoor est.)                 2
$80K-$142K (Glassdoor est.)                  1
$59K-$125K (Glassdoor est.)                  1
$101K-$141K (Glassdoor est.)                 1
$102K-$165K (Glassdoor est.)                 1
$68K-$125K (Glassdoor est.)                  1
$48K-$113K (Glassdoor est.)                  1
$27-$47 Per Hour(Glassdoor est.)             1
$71K-$135K (Glassdoor est.)                  1
$65K-$113K (Glassdoor est.)                  1
$39K-$67K (Glassdoor est.)                   1
$129K-$215K (Glassdoor est.)                 1
Employer Provided Salary:$120K-$140K         1
$81K-$132K (Glassdoor est.)                  1
$61K-$123K (Glassdoor est.)                  1
$79K-$127K (Glassdoor est.)                  1
$87K-$141K (Glassdoor est.)                  1
$71K-$121K (Glassdoor est.)                  1
$72K-$121K (Glassdoor est.)                  1
$79K-$136K (Glassdoor est.)                  1
$51K-$88K (Glassdoor est.)                   1
$150K-$180K (Glassdoor est.)                 1
$115K-$220K (Glassdoor est.)                 1
$32K-$57K (Glassdoor est.)                   1
$85K-$142K (Glassdoor est.)                  1
$176K-$289K (Glassdoor est.)                 1
$92K-$149K (Glassdoor est.)                  1
$118K-$188K (Glassdoor est.)                 1
$108K-$146K (Glassdoor est.)                 1
$65K-$106K (Glassdoor est.)                  1
$55K-$98K (Glassdoor est.)                   1
$94K-$162K (Glassdoor est.)                  1
$63K-$120K (Glassdoor est.)                  1
$126K-$228K (Glassdoor est.)                 1
$80K-$134K (Glassdoor est.)                  1
$87K-$140K (Glassdoor est.)                  1
$71K-$144K (Glassdoor est.)                  1
$76K-$127K (Glassdoor est.)                  1
$54K-$92K (Glassdoor est.)                   1
$61K-$100K (Glassdoor est.)                  1
$112K-$179K (Glassdoor est.)                 1
$63K-$111K (Glassdoor est.)                  1
$42K-$77K (Glassdoor est.)                   1
$75K-$126K (Glassdoor est.)                  1
$110K-$184K (Glassdoor est.)                 1
$76K-$145K (Glassdoor est.)                  1
$70K-$118K (Glassdoor est.)                  1
$94K-$139K (Glassdoor est.)                  1
$75K-$127K (Glassdoor est.)                  1
$33K-$61K (Glassdoor est.)                   1
$69K-$119K (Glassdoor est.)                  1
$94K-$153K (Glassdoor est.)                  1
$81K-$161K (Glassdoor est.)                  1
$58K-$108K (Glassdoor est.)                  1
$58K-$104K (Glassdoor est.)                  1
$113K-$182K (Glassdoor est.)                 1
$118K-$228K (Glassdoor est.)                 1
$65K-$126K (Glassdoor est.)                  1
$171K-$272K (Glassdoor est.)                 1
$136K-$208K (Glassdoor est.)                 1
$57K-$109K (Glassdoor est.)                  1
$74K-$137K (Glassdoor est.)                  1
$72K-$142K (Glassdoor est.)                  1
$40K-$87K (Glassdoor est.)                   1
$44K-$73K (Glassdoor est.)                   1
$84K-$153K (Glassdoor est.)                  1
$42K-$79K (Glassdoor est.)                   1
Employer Provided Salary:$100K-$135K         1
$90K-$153K (Glassdoor est.)                  1
$130K-$206K (Glassdoor est.)                 1
$66K-$117K (Glassdoor est.)                  1
$67K-$127K (Glassdoor est.)                  1
$50K-$98K (Glassdoor est.)                   1
$70K-$132K (Glassdoor est.)                  1
$52K-$89K (Glassdoor est.)                   1
$31K-$65K (Glassdoor est.)                   1
$117K-$231K (Glassdoor est.)                 1
$79K-$134K (Glassdoor est.)                  1
$55K-$116K (Glassdoor est.)                  1
$72K-$123K (Glassdoor est.)                  1
$40K-$73K (Glassdoor est.)                   1
$102K-$164K (Glassdoor est.)                 1
$89K-$153K (Glassdoor est.)                  1
$200K-$275K(Employer est.)                   1
$68K-$123K (Glassdoor est.)                  1
$80K-$129K (Glassdoor est.)                  1
$39K-$71K (Glassdoor est.)                   1
$38K-$85K (Glassdoor est.)                   1
$121K-$193K (Glassdoor est.)                 1
$54K-$102K (Glassdoor est.)                  1
$102K-$163K (Glassdoor est.)                 1
$76K-$140K (Glassdoor est.)                  1
$65K-$125K (Glassdoor est.)                  1
$91K-$148K (Glassdoor est.)                  1
$95K-$173K (Glassdoor est.)                  1
$77K-$124K (Glassdoor est.)                  1
$80K-$135K (Glassdoor est.)                  1
$85K-$159K (Glassdoor est.)                  1
$80K-$105K(Employer est.)                    1
$43K-$81K (Glassdoor est.)                   1
$29K-$50K (Glassdoor est.)                   1
$26K-$55K (Glassdoor est.)                   1
$61K-$118K (Glassdoor est.)                  1
$34K-$62K (Glassdoor est.)                   1
$64K-$107K (Glassdoor est.)                  1
$51K-$112K (Glassdoor est.)                  1
$39K-$68K (Glassdoor est.)                   1
$38K-$84K (Glassdoor est.)                   1
$126K-$201K (Glassdoor est.)                 1
$46K-$85K (Glassdoor est.)                   1
$102K-$190K (Glassdoor est.)                 1
$67K-$137K (Glassdoor est.)                  1
$81K-$130K (Glassdoor est.)                  1
$34K-$61K (Glassdoor est.)                   1
$77K-$135K (Glassdoor est.)                  1
$115K-$180K (Glassdoor est.)                 1
$74K-$138K (Glassdoor est.)                  1
$64K-$112K (Glassdoor est.)                  1
$52K-$113K (Glassdoor est.)                  1
$20K-$39K (Glassdoor est.)                   1
$56K-$117K (Glassdoor est.)                  1
$41K-$95K (Glassdoor est.)                   1
$88K-$148K (Glassdoor est.)                  1
$65K-$130K (Glassdoor est.)                  1
$139K-$220K (Glassdoor est.)                 1
$50K-$102K (Glassdoor est.)                  1
$74K-$122K (Glassdoor est.)                  1
$99K-$157K (Glassdoor est.)                  1
$79K-$222K (Glassdoor est.)                  1
$57K-$118K (Glassdoor est.)                  1
$86K-$141K (Glassdoor est.)                  1
$94K-$154K (Glassdoor est.)                  1
$37K-$76K (Glassdoor est.)                   1
$100K-$160K (Glassdoor est.)                 1
$112K-$182K (Glassdoor est.)                 1
$113K-$223K (Glassdoor est.)                 1
$84K-$136K (Glassdoor est.)                  1
$33K-$72K (Glassdoor est.)                   1
$67K-$119K (Glassdoor est.)                  1
$72K-$117K (Glassdoor est.)                  1
$78K-$126K (Glassdoor est.)                  1
$116K-$194K (Glassdoor est.)                 1
$83K-$133K (Glassdoor est.)                  1
$45K-$82K (Glassdoor est.)                   1
$83K-$135K (Glassdoor est.)                  1
$70K-$122K (Glassdoor est.)                  1
$63K-$112K (Glassdoor est.)                  1
$54K-$101K (Glassdoor est.)                  1
$68K-$112K (Glassdoor est.)                  1
$42K-$74K (Glassdoor est.)                   1
$95K-$161K (Glassdoor est.)                  1
$76K-$126K (Glassdoor est.)                  1
$108K-$176K (Glassdoor est.)                 1
$130K-$208K (Glassdoor est.)                 1
$37K-$68K (Glassdoor est.)                   1
$52K-$99K (Glassdoor est.)                   1
$105K-$173K (Glassdoor est.)                 1
$71K-$134K (Glassdoor est.)                  1
$39K-$82K (Glassdoor est.)                   1
$88K-$162K (Glassdoor est.)                  1
$55K-$99K (Glassdoor est.)                   1
$67K-$117K (Glassdoor est.)                  1
$116K-$209K (Glassdoor est.)                 1
$38K-$82K (Glassdoor est.)                   1
Employer Provided Salary:$85K-$90K           1
$37K-$63K (Glassdoor est.)                   1
$74K-$126K (Glassdoor est.)                  1
$72K-$129K (Glassdoor est.)                  1
$127K-$199K (Glassdoor est.)                 1
$71K-$123K (Glassdoor est.)                  1
$80K-$120K (Glassdoor est.)                  1
$80K-$130K (Glassdoor est.)                  1
$59K-$115K (Glassdoor est.)                  1
$71K-$136K (Glassdoor est.)                  1
$71K-$204K (Glassdoor est.)                  1
$75K-$125K (Glassdoor est.)                  1
$77K-$136K (Glassdoor est.)                  1
$74K-$123K (Glassdoor est.)                  1
$65K-$148K (Glassdoor est.)                  1
$66K-$112K (Glassdoor est.)                  1
$76K-$125K (Glassdoor est.)                  1
$15-$25 Per Hour(Glassdoor est.)             1
$53K-$92K (Glassdoor est.)                   1
$65K-$120K (Glassdoor est.)                  1
$60K-$103K (Glassdoor est.)                  1
$53K-$105K (Glassdoor est.)                  1
$33K-$62K (Glassdoor est.)                   1
$48K-$90K (Glassdoor est.)                   1
$34K-$64K (Glassdoor est.)                   1
$66K-$111K (Glassdoor est.)                  1
$91K-$138K (Glassdoor est.)                  1
$62K-$114K (Glassdoor est.)                  1
$74K-$119K (Glassdoor est.)                  1
$55K-$97K (Glassdoor est.)                   1
$15K-$16K(Employer est.)                     1
$61K-$106K (Glassdoor est.)                  1
$62K-$113K (Glassdoor est.)                  1
Name: Salary Estimate, dtype: int64

## Parsing salary

In [5]:
salary=df["Salary Estimate"].apply(lambda x:x.split("(")[0])
salary.head()

0     $53K-$91K
1    $63K-$112K
2     $80K-$90K
3     $56K-$97K
4    $86K-$143K
Name: Salary Estimate, dtype: object

In [6]:
salary_minus_kd=salary.apply(lambda x:x.replace("$","").replace("K",""))
salary_minus_kd.head()

0     53-91
1    63-112
2     80-90
3     56-97
4    86-143
Name: Salary Estimate, dtype: object

In [7]:
df["hourly"]=df["Salary Estimate"].apply(lambda x:1 if "per hour" in x.lower() else 0)
df["hourly"].value_counts()

0    718
1     24
Name: hourly, dtype: int64

In [8]:
df["Employer Provided"]=df["Salary Estimate"].apply(lambda x:1 if "employer provided" in x.lower() else 0)
df["Employer Provided"].value_counts()

0    725
1     17
Name: Employer Provided, dtype: int64

In [9]:
# Deleting Employer Provided and hourly in our new salary series

salary_upd=salary_minus_kd.apply(lambda x:x.lower().replace("per hour","").replace("employer provided",""))

# Delete the word salary

salary_new=salary_upd.apply(lambda x:x.lower().replace("salary","").replace(":",""))

In [10]:
df["min_salary"]=salary_new.apply(lambda x: int(x.split("-")[0]))
df["max_salary"]=salary_new.apply(lambda x: int(x.split("-")[1]))
df["avg_salary"]=(df.min_salary +df.max_salary)/2

In [11]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,Employer Provided,min_salary,max_salary,avg_salary
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91,72.0
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63,112,87.5
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80,90,85.0
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,114.5

We have added columns for min salary, max salary, and avg salary

## Cleaning up Company Name to get text only

In [19]:
df["Company_text"]=df["Company Name"].apply(lambda x:x.split("\n")[0])
df["Company_text"].head(2)

0                        Tecolote Research
1    University of Maryland Medical System
Name: Company_text, dtype: object

## Parsing states out of Location

In [20]:
df["States"]=df["Location"].apply(lambda x:x.split(",")[1])

In [21]:
df["States"].head(2)

0     NM
1     MD
Name: States, dtype: object

In [22]:
# Let's create a column to see if the location(state) is the same as the headquarter(state)

In [27]:
df["same_state"]=df.apply(lambda x:1 if x["Location"]==x["Headquarters"] else 0, axis=1)
df["same_state"].head()

0    0
1    0
2    1
3    1
4    1
Name: same_state, dtype: int64

## Company Age

In [68]:
df["Age"]=df["Founded"].apply(lambda x:2021-x if x!=-1 else x)
df["Age"].head(2)

0    48
1    37
Name: Age, dtype: int64

## Parsing job description based on coding languages

In [34]:
# Parsing of job description(common coding languages)
# Python, R studio, SQL, Spark,aws
df["python_yn"]=df["Job Description"].apply(lambda x:1 if "python" in x.lower() else 0)
df["rstudio_yn"]=df["Job Description"].apply(lambda x:1 if "rstudio" in x.lower() or "r-studio" in x.lower() else 0)
df["SQL_yn"]=df["Job Description"].apply(lambda x:1 if "sql" in x.lower() else 0)
df["spark_yn"]=df["Job Description"].apply(lambda x:1 if "spark" in x.lower() else 0)
df["aws_yn"]=df["Job Description"].apply(lambda x:1 if "aws" in x.lower() else 0)

In [35]:
df["python_yn"].value_counts()

1    392
0    350
Name: python_yn, dtype: int64

In [36]:
df["rstudio_yn"].value_counts()

0    741
1      1
Name: rstudio_yn, dtype: int64

In [37]:
df["SQL_yn"].value_counts()

1    380
0    362
Name: SQL_yn, dtype: int64

In [38]:
df["spark_yn"].value_counts()

0    575
1    167
Name: spark_yn, dtype: int64

In [39]:
df["aws_yn"].value_counts()

0    566
1    176
Name: aws_yn, dtype: int64

In [41]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'Employer Provided', 'min_salary', 'max_salary', 'avg_salary',
       'Company_text', 'States', 'same_state', 'Age', 'python_yn',
       'rstudio_yn', 'SQL_yn', 'spark_yn', 'aws_yn'],
      dtype='object')

In [42]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,avg_salary,Company_text,States,same_state,Age,python_yn,rstudio_yn,SQL_yn,spark_yn,aws_yn
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,...,72.0,Tecolote Research,NM,0,48,1,0,0,0,0
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,...,87.5,University of Maryland Medical System,MD,0,37,1,0,0,0,0
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,...,85.0,KnowBe4,FL,1,11,1,0,1,1,0
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,...,76.5,PNNL,WA,1,56,1,0,0,0,0
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,114.5,Affinity Solutions,NY,1,23,1,0,1,0,0

## Simlifying Job Descriptions

In [43]:
def job_simplified(job):
    if "data scientist" in job.lower():
        return "data scientist"
    elif "analyst" in job.lower():
        return "analyst"
    elif "machine learning" in job.lower():
        return "mle"
    elif "data engineer" in job.lower():
        return "engineer"
    elif "manager" in job.lower():
        return "manager"
    elif "director" in job.lower():
        return "director"
    else:
        return "na"

## Measuring seniority

In [44]:
def seniority(title):
    if "senior" in title.lower() or "sr" in title.lower() or "snr" in title.lower() or "lead" in title.lower():
        return "senior"
    elif "junior" in title.lower() or "jr" in title.lower() or "intern" in title.lower():
        return "junior"
    else:
        return "na"

In [45]:
df["job_simp"]=df["Job Title"].apply(job_simplified)
df["seniority"]=df["Job Title"].apply(seniority)

In [46]:
df["job_simp"].value_counts()

data scientist    279
na                184
engineer          118
analyst           103
manager            22
mle                22
director           14
Name: job_simp, dtype: int64

In [47]:
df["seniority"].value_counts()

na        542
senior    195
junior      5
Name: seniority, dtype: int64

In [48]:
# Fixing Los Angeles in States column
df["States"].value_counts().tail()

 ID             2
 MN             2
 Los Angeles    1
 RI             1
 SC             1
Name: States, dtype: int64

In [50]:
df["States"]=df["States"].apply(lambda x:x.replace("Los Angeles","CA"))
df["States"].value_counts().tail()

 KS    3
 ID    2
 MN    2
 RI    1
 SC    1
Name: States, dtype: int64

## Job Description Length

In [52]:
df["job_desc"]=df["Job Description"].apply(lambda x:len(x))
df["job_desc"].head()

0    2536
1    4783
2    3461
3    3883
4    2728
Name: job_desc, dtype: int64

## Competitor Count

In [59]:
df["num_comp"]=df["Competitors"].apply(lambda x:len(x.split(",")) if x!="-1" else 0)
df["num_comp"].head()

0    0
1    0
2    0
3    3
4    3
Name: num_comp, dtype: int64

## Hourly Wage to Annual(Hourly wage times 2 roughly equals annual wage)

In [69]:
df["avg_salary"]=df.apply(lambda x:x["avg_salary"]*2 if x["hourly"]==1 else x["avg_salary"],axis=1)
df["min_salary"]=df.apply(lambda x:x["min_salary"]*2 if x["hourly"]==1 else x["min_salary"],axis=1)
df["max_salary"]=df.apply(lambda x:x["max_salary"]*2 if x["hourly"]==1 else x["max_salary"],axis=1)
df[["avg_salary","hourly"]]

     avg_salary  hourly
0          72.0       0
1          87.5       0
2          85.0       0
3          76.5       0
4         114.5       0
5          95.0       0
6          73.5       0
7         114.0       0
8          61.0       0
9         140.0       0
10        163.5       0
11         85.0       0
12        139.0       0
13         65.5       0
14        113.5       0
15        146.0       0
16        102.0       0
17        153.5       0
18        142.5       0
19         87.5       0
20        105.5       0
21         96.0       0
22        112.5       0
23         84.0       0
25        143.0       0
26         86.5       0
27         99.5       0
28         47.5       0
29         84.0       0
30         85.0       0
31         76.5       0
32         96.0       0
33        114.5       0
34        121.0       0
35        112.5       0
36        106.0       0
37        107.0       0
38        110.0       0
39        147.5       0
40        106.0       0
41         88.0       0
43         98.5       0
44        142.5       0
45         82.5       0
46        130.0       0
48        155.0       0
49        184.5       0
50         29.5       0
51         86.5       0
52         81.0       0
54         91.0       0
55        114.5       0
56         68.0       0
57        115.0       0
58        109.5       0
59         75.5       0
60        154.5       0
61        143.5       0
62         73.5       0
63         95.0       0
65        107.0       0
66        115.0       0
67        139.5       0
68         67.0       0
70         85.0       0
72        118.0       0
73         79.5       0
75         56.5       0
76        128.5       0
77         97.5       0
78         66.5       0
79        179.5       0
80         76.0       0
81        112.0       0
82         98.0       0
83        128.0       0
84        150.5       0
85         87.5       0
86        110.0       0
87        113.5       0
88        124.0       0
89         56.5       0
90        130.0       0
91         77.5       0
92         87.0       0
93         53.5       0
94        139.0       0
95        114.0       0
96         85.5       0
97         48.0       0
99         48.0       0
101       174.0       0
102        85.0       0
104       106.5       0
105        72.5       0
106        85.5       0
107        97.5       0
108        99.0       0
109        56.5       0
110       133.0       0
112       121.0       0
113        85.5       0
116        87.5       0
117       237.5       0
118        95.5       0
119       104.5       0
120        56.5       0
122        55.0       0
123        61.5       0
124       157.0       0
125        78.0       0
126       113.5       0
127       140.0       0
128       132.5       0
129       108.0       0
130        80.5       0
131       107.5       0
132        95.0       0
136       119.5       0
137       134.0       0
138       100.5       0
139       107.5       0
140       122.0       0
141        92.5       0
142        62.0       0
143        39.5       0
145       107.5       0
146        40.5       0
147        89.5       0
148        81.0       0
150       147.0       0
152        85.0       0
153        81.5       0
154       168.0       0
156       100.5       0
157        97.0       0
158        85.0       0
159       153.5       0
161       132.5       0
162       100.0       0
164       105.0       0
166        87.0       0
167       103.5       0
168       124.0       0
169        67.0       0
170        87.0       0
171       137.5       0
172       100.0       0
174       106.5       0
175        98.5       0
177        61.0       0
178       106.5       0
179        84.5       0
180       109.5       0
181       164.0       0
182       169.0       0
183       142.0       0
185        76.5       0
187       107.0       0
188       171.5       0
190        96.0       0
191       142.5       0
192       107.0       0
193       145.0       0
194        61.5       0
197       164.0       1
198       120.0       0
199        62.0       0
200       150.5       0
201        87.5       0
202        71.5       0
203        51.5       0
204       151.5       0
205        77.5       0
206       140.0       0
207        98.5       0
208       225.0       0
209       220.0       1
210       161.5       0
211       147.0       0
212        61.0       0
213       120.0       0
215       124.5       0
216       148.0       0
217        59.0       0
221       146.5       0
223        91.5       0
224       133.0       0
225       140.5       0
226        70.5       0
228        84.5       0
229        93.5       0
230       134.5       0
233       181.0       0
234        84.5       0
235       205.0       0
239        48.5       0
240       172.0       1
242        52.5       0
243       124.0       0
245        64.0       0
246        98.0       0
247       220.0       1
248        54.0       0
250        81.0       0
251       107.5       0
253       112.5       0
254        89.0       0
255       100.5       0
256        65.0       0
257       160.0       1
258        72.5       0
259        61.0       0
260       109.5       0
262        84.5       0
263        87.5       0
264        92.5       0
265        81.5       0
266        79.0       0
267       164.0       0
268       169.0       0
269       142.0       0
270        47.5       0
273        76.5       0
274        69.0       0
275        49.0       0
276       171.5       0
277       107.0       0
278        59.0       0
281        88.5       0
282       107.0       0
284        86.5       0
285        84.0       0
288       114.5       0
289       145.0       0
290        88.0       0
291       100.0       0
292        61.5       0
293        96.5       0
295        76.0       0
296        15.5       0
299        83.5       0
300       120.0       0
302       163.0       0
305       100.0       0
306        52.5       0
307       164.0       1
308        50.0       0
309        93.0       0
310        94.5       0
311       150.5       0
312       102.0       0
313        62.0       0
314        87.5       0
316        84.0       0
317       143.0       0
318       155.0       0
319        71.5       0
320       108.0       0
322       151.5       0
323        51.5       0
324       140.0       0
325        77.5       0
326        63.5       0
328       109.0       0
330        96.0       0
331       225.0       0
332       101.0       0
333        98.5       0
334        77.5       0
335       161.5       0
337       220.0       1
339       147.0       0
341        90.0       0
342        58.0       0
344        61.0       0
346       120.0       0
347       128.0       0
348        99.5       0
349        96.0       0
350       101.0       0
351       148.0       0
352       142.0       0
353       169.0       0
354       124.5       0
355        59.0       0
356        52.5       0
357        75.5       0
358       139.0       0
362       102.5       0
364        60.5       0
366       146.5       0
367       125.0       0
368        81.0       0
369       133.0       0
370        77.0       0
371        92.0       0
372       121.0       0
375       162.5       0
376        60.0       0
377        87.5       0
379        90.5       0
380       114.5       0
381       121.0       0
382       110.0       0
383        91.5       0
384        70.5       0
386        70.5       0
387        76.5       0
388        92.0       0
390       140.5       0
391        82.0       0
392        84.5       0
394       134.5       0
396       164.5       0
397        44.0       0
398        93.5       0
399       109.0       0
400       149.5       0
401        65.5       0
403       124.5       0
406       114.0       0
407        49.0       0
409        84.5       0
410        71.0       0
411       101.0       0
412       107.0       0
413       112.5       0
414       181.0       0
415        61.0       0
416       205.0       0
417       103.5       0
419        63.0       0
420        62.5       0
421        94.5       0
425        48.5       0
426       154.5       0
427       172.0       1
428        87.0       0
429        52.5       0
430        64.5       0
431       111.5       0
433       154.5       0
434       124.0       0
435       128.5       0
437       252.0       1
442        64.0       0
443        98.0       0
444       142.5       0
446       137.0       0
447        99.0       0
448        54.0       0
449       139.5       0
450       109.0       0
452       254.0       0
454        73.0       0
455        81.0       0
456       220.0       1
458        99.5       0
459        45.5       0
461       122.5       0
462       140.0       0
463        77.5       0
464       212.0       1
466       117.5       0
467        70.5       0
468        61.5       0
469        70.0       0
470        80.0       0
471        90.0       0
472       120.0       0
473        73.5       0
476        91.0       0
477       155.0       0
479       129.5       0
482       167.5       0
483        60.0       0
485       180.0       0
486        65.0       0
487       112.5       0
488        87.5       0
489        51.5       0
490        51.0       0
491        62.5       0
492       100.0       0
493        85.0       0
494       122.0       0
495        66.5       0
496        70.5       0
497       138.5       0
498       107.5       0
499       120.5       0
500        81.0       0
501       103.5       0
502       107.5       0
505       162.0       0
506        68.5       0
507       110.5       0
508        81.0       0
509       130.0       0
510       115.5       0
512        80.5       0
516        43.0       0
517       140.0       0
518       120.0       0
519        66.5       0
520        94.5       0
521       119.0       0
522       200.0       1
523       108.0       1
524       194.5       0
525        71.5       0
526       105.5       0
528        74.0       0
530        62.5       0
532        65.5       0
533       161.5       0
534        72.5       0
535       139.0       0
537       136.5       0
538        74.5       0
539        80.5       0
540        75.5       0
541       143.5       0
542       101.0       0
543        92.0       0
544        76.5       0
545       140.5       0
546       116.5       0
548       232.5       0
549       120.5       0
550        82.0       0
552        84.5       0
554       153.0       0
555       127.0       0
556        85.5       0
557        76.5       0
558       128.0       0
560        91.5       0
561       134.5       0
562       164.5       0
563        93.5       0
565        44.0       0
566       149.5       0
567        65.5       0
568       109.0       0
570       177.0       0
572       107.0       0
573       154.5       0
575       113.5       0
576       124.5       0
577       143.5       0
578       113.5       0
579       101.5       0
580        73.0       0
582        80.5       0
583       110.5       0
585       114.0       0
586       139.5       0
587       145.5       0
588        87.0       0
589       100.5       0
590       147.0       0
591       110.5       0
594        49.0       0
595        94.0       0
597       123.5       0
599        84.5       0
600        71.0       0
601        73.0       0
602       101.0       0
603       181.0       0
604       109.5       0
605       184.5       0
606       165.0       0
607        61.0       0
608       205.0       0
609        59.5       0
610       103.5       0
613        62.5       0
614        63.0       0
616        66.0       0
617        94.5       0
619        75.5       0
622        87.0       0
623       140.0       0
624        86.0       0
625       116.5       0
627       154.5       0
629        87.0       0
630        48.5       0
631        80.0       0
632       172.0       1
633        52.5       0
634       173.0       0
635        68.5       0
636       172.0       0
637       114.5       0
638        95.0       0
639        69.5       0
640        64.5       0
642       111.5       0
643        97.5       0
644       154.5       0
645       124.0       0
646        95.0       0
647       128.5       0
648       194.0       0
651       104.5       0
652       252.0       1
653        85.5       0
654        50.0       0
655       113.0       0
658        90.5       0
660       153.0       0
661       123.5       0
662        47.0       0
663        64.0       0
664       162.0       0
665       137.0       0
666        98.0       0
668       115.0       0
669       133.5       0
670        99.0       0
671        54.0       0
672       109.0       0
673       109.0       0
674       139.5       0
675       254.0       0
676       125.0       0
678       106.5       0
679        73.0       0
681        81.0       0
682       220.0       1
683        99.5       0
685        45.5       0
687        54.0       0
688       122.5       0
689        37.5       0
690        53.5       0
691       140.0       0
692        77.5       0
694       212.0       1
695       117.5       0
696        70.5       0
697        70.0       0
698        61.5       0
699        80.0       0
700        79.5       0
701       168.0       0
702        90.0       0
703       120.0       0
704       138.5       0
705       111.5       0
706        68.5       0
707        84.5       0
708       102.5       0
709        73.5       0
711        93.5       0
712       127.5       0
714        72.0       0
715       129.5       0
718        47.0       0
719        65.0       0
721        60.0       0
722       167.5       0
723        65.0       0
725        94.0       0
726        87.5       0
727        97.0       0
728       112.5       0
730        91.5       0
731        51.5       0
732       114.5       0
733       115.0       0
734        74.0       0
735        51.0       0
736       100.0       0
737       121.0       0
738       121.5       0
740        62.5       0
741       117.5       0
742       122.0       0
743        85.0       0
744        60.5       0
745       180.0       0
746        70.5       0
747       118.5       0
748        66.5       0
749       107.5       0
750       138.5       0
751        81.0       0
752        58.5       0
753       107.5       0
754       120.5       0
755        63.5       0
756       103.5       0
757       107.0       0
758       105.5       0
759        83.0       0
761       162.0       0
763        68.5       0
766       110.5       0
767       115.5       0
768        87.5       0
769        80.5       0
773        43.0       0
776       140.0       0
777       172.0       0
778       120.0       0
779        66.5       0
780       100.0       0
781        94.5       0
782       221.5       0
783       119.0       0
784        95.5       0
785       194.5       0
786       200.0       1
787       108.0       1
788       173.0       0
789       105.5       0
790        71.5       0
791        74.0       0
794        62.5       0
795        65.5       0
797        85.0       0
799       147.5       0
802       161.5       0
803        81.0       0
804        72.5       0
806       139.0       0
807       136.5       0
808        83.0       0
809       121.0       0
810        74.5       0
811        85.5       0
812        80.5       0
815       167.5       0
816       107.5       0
817        44.5       0
818       107.5       0
819       132.5       0
820        69.5       0
821        98.5       0
822        80.5       0
823       296.0       1
824        99.0       0
825        96.5       0
826        53.0       0
827       103.0       0
828       139.5       0
829        67.0       0
830        62.5       0
831        92.0       0
832        66.0       0
836        94.5       0
837       114.0       0
838        75.5       0
839        96.0       0
840        87.0       0
841        86.0       0
845       116.5       0
848       154.5       0
851        48.5       0
852        87.0       0
853        80.0       0
854       172.0       1
855       173.0       0
856        52.5       0
857        68.5       0
858        95.0       0
859        69.5       0
860       107.0       0
861       112.0       0
863        96.5       0
864       111.5       0
866       154.5       0
867        95.0       0
868        97.5       0
869       128.5       0
870       124.0       0
871       194.0       0
875       252.0       1
877        50.0       0
878       104.5       0
879        69.5       0
880       121.0       0
881        85.5       0
883       113.0       0
884       103.0       0
886        90.5       0
887       153.0       0
892       106.5       0
893       130.0       0
895       123.5       0
896        86.5       0
897        64.0       0
898        47.0       0
899       162.0       0
900       140.0       0
901        89.0       0
902        98.0       0
904       137.0       0
907        99.0       0
909        54.0       0
910       109.0       0
911       109.0       0
912       139.5       0
913       254.0       0
914       125.0       0
916       106.5       0
919       220.0       1
920        73.0       0
921        81.0       0
924       128.5       0
926        99.5       0
928        92.0       0
929        45.5       0
930       122.5       0
931        37.5       0
932        54.0       0
933        53.5       0
934       140.0       0
935        77.5       0
936       212.0       1
938       117.5       0
939        70.5       0
940        61.5       0
941        80.0       0
942        70.0       0
943       120.0       0
944        90.0       0
945       111.0       0
946       138.5       0
947        68.5       0
948        87.5       0
949       111.5       0
950        84.5       0
951       102.5       0
952        73.5       0
953       127.5       0
955        93.5       0

In [62]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Age,python_yn,rstudio_yn,SQL_yn,spark_yn,aws_yn,job_simp,seniority,job_desc,num_comp
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,...,48,1,0,0,0,0,data scientist,na,2536,0
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,...,37,1,0,0,0,0,data scientist,na,4783,0
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,...,11,1,0,1,1,0,data scientist,na,3461,0
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,...,56,1,0,0,0,0,data scientist,na,3883,3
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,23,1,0,1,0,0,data scientist,na,2728,3

In [65]:
# Clean up size
df["Size"]=df["Size"].apply(lambda x:x.replace("to","-"))
df["Size"].head()

0     501 - 1000 employees
1         10000+ employees
2     501 - 1000 employees
3    1001 - 5000 employees
4       51 - 200 employees
Name: Size, dtype: object

## Remove unnamed column

In [71]:
df_cleaned=df.drop("Unnamed: 0",axis=1)

In [72]:
df_cleaned.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Age,python_yn,rstudio_yn,SQL_yn,spark_yn,aws_yn,job_simp,seniority,job_desc,num_comp
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 - 1000 employees,1973,Company - Private,...,48,1,0,0,0,0,data scientist,na,2536,0
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,37,1,0,0,0,0,data scientist,na,4783,0
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 - 1000 employees,2010,Company - Private,...,11,1,0,1,1,0,data scientist,na,3461,0
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 - 5000 employees,1965,Government,...,56,1,0,0,0,0,data scientist,na,3883,3
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 - 200 employees,1998,Company - Private,...,23,1,0,1,0,0,data scientist,na,2728,3

In [73]:
df_cleaned.to_csv('data_cleaned.csv')